* {
  font-family: 'Roboto', sans-serif;
 }


 .navbar-light .navbar-nav .active>.nav-link, .navbar-light .navbar-nav .nav-link.active, .navbar-light .navbar-nav .nav-link.show, .navbar-light .navbar-nav .show>.nav-link {
  color: #FFFFFF;
  font-weight: bold;
  }
  .navbar-light .navbar-nav .nav-link:focus, .navbar-light .navbar-nav .nav-link:hover {
  color: #fff;
  }
  .navbar-light .navbar-nav .nav-link {
  color: #FFFFFF;
  font-weight: lighter;
  } 
  .ct-nav{
    padding: 0 6%;
  }
  .ct-nav .navbar-brand{
    font-weight: bold;
    font-size: 24px;
    line-height: 48px;
    text-transform: uppercase;
    color: #48CB6D;
  }
  .ct-nav .navbar-brand:hover{
    color: #48CB6D;
  }
  .ct-nav .navbar-brand:focus{
    color: #48CB6D;
  }


 footer{
  padding-top: 110px;
  padding-bottom: 28px;
  background-color: #001D41;
}
.ctf-footer{
  padding-left: 5%;
  padding-right: 5%;
}
.logo-footer{
  display: flex;
  flex-direction: row;
  margin-bottom: 24px;
}
.logo-footer img{
  max-width: 48px;
  margin-right: 14px;
}
.logo-footer h4{
  font-weight: bold;
  font-size: 24px;
  line-height: 48px;
  text-transform: uppercase;
  color: #FFFFFF;
  margin-bottom: 0;
}
.address{
  font-weight: normal;
  font-size: 13px;
  line-height: 24px;
  letter-spacing: 0.03em;
  color: #FFFFFF;
}
.cl-footer-right{
  display: flex;
  flex-direction: row;
  align-items: center;
}
.wrapper-footer-right{
  display: flex;
  flex-direction: row;
  align-items: center;
  background-color: #FFFFFF;
  border-radius: 12px;
  padding: 32px 44px;
  width: 100%;
}
.wrapper-footer-right img{
  margin-right: 24px;
}
.wrapper-footer-right p{
  font-weight: normal;
  font-size: 14px;
  line-height: 28px;
  letter-spacing: 0.03em;
  color: #001D41;
  margin-bottom: 0;
}
.copy{
  margin-top: 68px;
}
.copy p{
  font-weight: normal;
  font-size: 14px;
  line-height: 32px;
  letter-spacing: 0.05em;
  text-align: center;
  color: #FFFFFF;
}