.hero-bu{
    height: 35vh;
    background-image: url('../images/bg-hero2.png');
    background-size: cover;
    background-position: center;
}

.input-contact{
    display: flex;
    /* padding-top: 40px; */
    padding-bottom: 200px;
  }

  .wrapper-input-contact{
      background-color: #fff;
      padding: 40px;
      padding-bottom: 68px;
      border-radius: 12px;
      margin-top: -16vh;
  }
  .wrapper-input-contact .form-group .form-control {
    height: 7vh;
}

.wrapper-input-contact form .form-group label{
    color: #909AAD;
    font-size: 14px;
    margin-left: 10px;
    margin-bottom: 0;
}
.wrapper-input-contact form .form-group{
        margin-bottom: 3.6vh;
}
.form-control:focus {
    color: #48CB6D;
    background-color: #fff;
    border-color: #48CB6D;
    outline: 0;
    box-shadow: 0 0 0 0.02rem rgba(72, 203, 109, 0.514);
}
.form-control {
    border-color: #909AAD;
    color: #909AAD;
    border-radius: 8px;
    font-size: 18px;
    padding-left: 23px;
    border: 1px solid #909AAD;
}
.form-group .messages{
    min-height: 100px;
}
.wrapper-input-contact form .form-group input::-webkit-input-placeholder {
    color: #909AAD;
}
.wrapper-input-contact form .form-group input:focus::-webkit-input-placeholder {
    color: #48CB6D;
}
.wrapper-input-contact form .form-group textarea::-webkit-input-placeholder {
    color: #909AAD;
}
.wrapper-input-contact form .form-group textarea:focus::-webkit-input-placeholder {
    color: #48CB6D;
}

/* Firefox < 19 */ 
.wrapper-input-contact form .form-group input:-moz-placeholder {
    color: #909AAD;
}
.wrapper-input-contact form .form-group input:focus:-moz-placeholder {
    color: #48CB6D;
}
.wrapper-input-contact form .form-group textarea:-moz-placeholder {
    color: #909AAD;
}
.wrapper-input-contact form .form-group textarea:focus:-moz-placeholder {
    color: #48CB6D;
}

/* Firefox > 19 */
.wrapper-input-contact form .form-group input::-moz-placeholder {
    color: #909AAD;
}
.wrapper-input-contact form .form-group input:focus::-moz-placeholder {
    color: #48CB6D;
}
.wrapper-input-contact form .form-group textarea::-moz-placeholder {
    color: #909AAD;
}
.wrapper-input-contact form .form-group textarea:focus::-moz-placeholder {
    color: #48CB6D;
}

.btn-submit{
    float: right;
}


.btn-warning.focus, .btn-warning:focus {
    box-shadow: 0 0 0 0.1rem rgba(72, 203, 109, 0.514);
  }
  .btn-warning:not(:disabled):not(.disabled).active:focus, .btn-warning:not(:disabled):not(.disabled):active:focus, .show>.btn-warning.dropdown-toggle:focus {
    box-shadow: 0 0 0 0.1rem rgba(72, 203, 109, 0.514);
  }
  .btn-warning:hover {
    color: #212529;
    background-color: #48CB6D;
    border-color: #48CB6D;
  }
  .btn-warning {
    color: #212529;
    background-color: #48CB6D;
    border-color: #48CB6D;
    border-radius: 50px;
    font-weight: 400;
    font-size: 18px;
    color: #ffffff;
    max-width: 660px;
    padding: 8px 40px 8px 40px;
  }
  .btn-warning:not(:disabled):not(.disabled):active, .show>.btn-warning.dropdown-toggle {
    color: #212529;
    background-color: rgb(64, 163, 92);
    border-color:  rgb(64, 163, 92);
  }

  .img-kontak{
      width: 60%;
  }

  .ip-ctk-rt{
    flex-direction: row;
    align-items: center;
    justify-content: center;
    text-align: center;
    display: flex;
  }