/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 767px) {
    .wrapper-ct-img-mk {
        flex-direction: column;
    } 
    .navbar-brand img{
        width: 38px !important;
    }
    .ct-nav .navbar-brand {
        font-size: 20px;
        line-height: 38px;
    }
    .img-carausel {
        height: 80vh;
        background: linear-gradient(180deg, rgba(0, 0, 0, 0.6) 5.86%, rgba(0, 0, 0, 0) 101.85%), url(../images/bg-hero-mobile.png);
        background-position: right;
        background-size: cover;
    }
    .carousel-caption {
        right: 0%;
        left: 5%;
        top: 20%;
        max-width: 284px;
    }
    .carousel-caption h1 {
        font-size: 26px;
        margin-bottom: 0;
        line-height: 38px;
    }
    .hero-desc {
        left: 0%;
        max-width: 100%;
        padding: 38px 26px 60px 26px;
    }
    .home-aboutus {
        padding-top: 58px;
        padding-bottom: 58px;
    }
    .title-ct {
        text-align: center;
        margin-bottom: 38px;
    }
    .rw-prt-about-home{
        flex-direction: column-reverse;
    }
    .cl-tk-left p {
        font-size: 14px;
        line-height: 32px;
        margin-bottom: 55px;
    }
    .btn-group-tk{
        display: flex;
        justify-content: center;
    }
    .btn-group-tk .btn-tk {
        padding: 16px 18px;
    }
    .bidang-usaha {
        padding-top: 58px;
        padding-bottom: 58px;
    }
    .mitra-home {
        padding-top: 58px;
        padding-bottom: 58px;
    }
    .wrapper-ct-title-mk {
        flex-direction: column;
        align-items: center;
        text-align: center;
        margin-bottom: 48px;
    }
    .wrapper-ct-title-mk h5 {
        width: 100%;
        margin-bottom: 16px;
    }
    .wrapper-ct-title-mk p {
        font-size: 18px;
        line-height: 32px;
    }
    .wrapper-ct-img-mk img {
        margin-bottom: 28px;
    }
    .wrapper-project-ct a {
        display: none;
    }
    .ct-prt-project h5 {
        text-align: center;
    }
    .wrapper-project-ct {
        justify-content: center;
        text-align: center;
    }
    .wrapper-project-ct {
        margin-bottom: 18px;
    }
    .wrapper-card-project .card .card-body h5 {
        text-align: left;
    }
    .wrapper-card-project .card {
        margin-bottom: 38px;
    }
    .testimoni .card-testimoni {
        width: 100%;
        border-radius: 0;
    }
    .testimoni-item .card-body {
        width: 100%;
        padding: 24px;
    }
    .testimoni-item .card-body p {
        font-size: 14px;
    }
    .wrapper-footer-right {
        margin-bottom: 20px;
        padding: 32px 24px;
    }
    .copy p {
        line-height: 24px;
    }



    .cprofile-detail {
        padding-left: 0;
        padding-bottom: 100px;
    }
    .cprofile-detail .title-top {
        font-size: 28px;
        line-height: 32px;
        text-align: center;
    }
    .cprofile-detail .title-company {
        font-size: 14px;
        margin-bottom: 28px;
    }
    .cprofile-detail .caption-sekilas {
        font-size: 14px;
        line-height: 36px;
    }
    .rw-mtk .mt-logo {
        justify-content: center;
        margin-bottom: 58px;
    }
    .rw-mtk .mt-logo img {
        width: 50%;
    }
    .sub-title-budaya{
        text-align: center;
    }
    .sub-caption-budaya{
        margin-bottom: 62px;
        font-size: 14px;
        line-height: 36px;
    }
    .cprofile-detail .caption-budaya {
        font-size: 14px;
        line-height: 36px;
    }

    .cprofile-detail .vm .title-visi,
    .cprofile-detail .vm .title-misi{
        text-align: center;
    }
    .cprofile-detail .vm .caption-visi,
    .cprofile-detail .vm .caption-misi{
        text-align: center;
    }








    .card-bidang {
        padding: 30px 24px;
    }
    .card-bidang .card-top {
        margin-bottom: 38px;
    }
    .card-bidang .card-top .title-bidang h5 {
        font-size: 18px;
    }
    .card-bidang .card-top .title-bidang h6 {
        font-size: 12px;
    }
    .card-bottom .ct-item-bidang p {
        font-size: 14px;
    }




    .wrapper-input-contact {
        max-width: 100%;
        padding: 60px 24px;
    }
    .ct-input-contact{
        padding-left: 12px;
        padding-right: 12px;
    }
    .input-contact {
        margin-bottom: 190px;
        margin-top: 0;
    }
    .wrapper-input-contact form .form-group .form-control {
        font-size: 16px;
        padding-left: 18px;
    }
    .wrapper-input-contact form .form-group label {
        font-size: 14px;
    }

    .submit-group{
        display: flex;
        align-items: center;
        flex-direction: column;
    }
    .img-kontak{
        display: none;
    }

    .project-list {
        padding-top: 100px;
        padding-bottom: 100px;
    }
    .col-title-prjc .title-prjc {
        margin-top: 18px;
    }
    .col-title-prjc {
        margin-bottom: 50px;
    }
    .list-category {
        padding-left: 34px;
        padding-right: 34px;
    }

    .ct-prjc-detail {
        padding: 0;
        margin-bottom: 58px;
    }
    .ct-prjc-detail .category-title {
        margin-left: 0;
    }
    .ct-prjc-detail .title-detail-name {
        font-size: 28px;
        line-height: 38px;
    }
    .flex-profile .profile-detail {
        margin-right: 22px;
    }
    .profile-detail .img-avatar-detail {
        width: 42px;
    }
    .project-detail {
        padding-bottom: 120px;
    }
    .wrapper-list-detail {
        margin-bottom: 14px;
    }
    .ct-prjc-detail .detail-ctn {
        line-height: 38px;
        margin-top: 48px;
    }









    .nav-tabs .nav-item {
        margin: auto;
        width: 100%;
        margin-bottom: 20px;
        text-align: left;
    }
    .wrapper-job-menu .btn {
        padding-left: 18px;
    }
    .collapse-item .ul-collapse {
        padding-left: 20px;
    }
    .collapse-item .ul-collapse .basic-item {
        font-size: 18px;
        padding-right: 20px;
    }
    .collapse-item label {
        font-size: 18px;
        padding: 13px 0 13px 16px;
    }
    .btm-collapse {
        padding-left: 56px;
        padding-right: 20px;
    }




    .input-career {
        margin-bottom: 190px;
        margin-top: 0;
    }
    .ct-input-career {
        padding-left: 12px;
        padding-right: 12px;
    }
    .wrapper-input-career {
        padding: 60px 24px;
    }
    
}



/* Medium devices (landscape tablets, 768px and up) */
@media (min-width: 768px) and (max-width: 992px) {
    .img-carausel {
        height: 80vh;
        background: linear-gradient(180deg, rgba(0, 0, 0, 0.6) 5.86%, rgba(0, 0, 0, 0) 101.85%), url(../images/bg-hero-mobile.png);
        background-position: right;
        background-size: cover;
    }
    .btn-group-tk{
        display: flex;
    }
    .btn-group-tk .btn-tk {
        padding: 16px 18px;
    }
    .wp-bu-cd{
        flex: 0 0 50%;
        max-width: 50%;
    }
    .mitra-home {
        padding-top: 58px;
        padding-bottom: 58px;
    }
    .wrapper-ct-title-mk {
        flex-direction: column;
        align-items: center;
        text-align: center;
        margin-bottom: 48px;
    }
    .wrapper-ct-title-mk h5 {
        width: 100%;
        margin-bottom: 16px;
    }
    .wrapper-ct-img-mk img {
        max-width: 140px;
        margin: auto;
    }
    .wrapper-card-project .card .card-body h5 {
        font-size: 12px;
    }
    .wrapper-card-project .card .card-body p {
        font-size: 10px;
        flex-direction: row;
        display: flex;
        align-items: center;
    }
    .wrapper-card-project .card .card-body p i {
        font-size: 14px;
    }
    .testimoni .card-testimoni {
        width: 90%;
    }
    .testimoni-item .card-body {
        width: 80%;
        padding: 24px;
    }
    .cl-footer-left{
        flex: 0 0 100%;
        max-width: 100%;
        margin-bottom: 38px;
    }
    .address {
        max-width: 50%;
    }
    .cl-footer-right {
        flex: 0 0 50%;
        max-width: 50%;
    }



    .cprofile-detail {
        padding-left: 0;
        padding-bottom: 100px;
    }
    .rw-cstm-nv{
        justify-content: center;
    }
    .cstm-nv{
        flex: 0 0 80%;
        max-width: 80%;
    }
    .tab-content{
        flex: 0 0 100%;
        max-width: 100%;
    }




    .card-bottom .ct-item-bidang {
        flex: 0 0 50%;
        max-width: 50%;
    }




    .ip-ctk-lf{
        flex: 0 0 60%;
        max-width: 60%;
    }
    .ip-ctk-rt{
        flex: 0 0 40%;
        max-width: 40%;
    }
    .img-kontak{
        width: 100%;
    }








    .left-list{
        flex: 0 0 55%;
        max-width: 55%;
    }
    .col-image-prjc{
        flex: 0 0 100%;
        max-width: 100%;
    }
    .col-title-prjc{
        flex: 0 0 100%;
        max-width: 100%;
    }
    .right-list{
        flex: 0 0 45%;
        max-width: 45%;
    }
    .project-list {
        padding-top: 120px;
        padding-bottom: 200px;
    }
    .col-title-prjc .title-prjc {
        margin-top: 18px;
    }
    .col-title-prjc {
        margin-bottom: 50px;
    }


    .ct-prjc-detail {
        padding: 0;
    }
    .ct-prjc-detail .category-title {
        margin-left: 0;
    }
    .left-detail-col{
        flex: 0 0 60%;
        max-width: 60%;
    }
    .right-detail-col{
        flex: 0 0 40%;
        max-width: 40%;
    }
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {}